/*-------------------------
	Simple reset
--------------------------*/

* {
    margin: 0;
    padding: 0;
  }
  
  /*-------------------------
      General Styles
  --------------------------*/
  

  
  body {
    font: 15px/1.3 Arial, sans-serif;
    color: #4f4f4f;
    z-index: 1;
    background: #eaedf0;
  }
   
  a,
  a:visited {
    outline: none;
    color: #389dc1;
  }
  
  a:hover {
    text-decoration: none;
  }
  input{
    outline: none !important;
  }
  section,
  footer,
  header,
  aside {
    display: block;
  }
  
